{% extends 'base.html' %}
{% block content %}
    <div class="container-wrap">
			<div class="container container-message container-details container-about">
					<div class="contar-wrap">
						<div class="item">
							<div class="item-box">
								<h3>关于</h3>
								<p>90后郑州程序员</p>
								<p>90后郑州程序员</p>
								<p>90后郑州程序员</p>
								<p>90后郑州程序员</p>
								<p>90后郑州程序员。</p>
								<p>90后郑州程序员</p>
								<div class="count layui-clear">
									<span class="pull-left">阅读 <em>100000+</em></span>
									<span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>999</em></span>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
{% endblock %}