<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>闲言轻博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/layui/css/layui.css">
	<link rel="stylesheet" href="../static/static/css/mian.css">
    {% block customcss %}
    {% endblock %}
</head>
<body class="lay-blog">
        <div class="header">
			<div class="header-wrap">
				<h1 class="logo pull-left">
					<a href="/">
						<img src="../static/static/images/logo.png" alt="" class="logo-img">
						<img src="../static/static/images/logo-text.png" alt="" class="logo-text">
					</a>
				</h1>
				<form class="layui-form blog-seach pull-left" action="">
					<div class="layui-form-item blog-sewrap">
					    <div class="layui-input-block blog-sebox">
					      <i class="layui-icon layui-icon-search"></i>
					      <input type="text" name="title" lay-verify="title" autocomplete="off"  class="layui-input">
					    </div>
					</div>
				</form>
				<div class="blog-nav pull-right">
					<ul class="layui-nav pull-left">
					  <li class="layui-nav-item {% if request.path == '/index/' %}layui-this {% endif %}  "><a href="/index">首页</a></li>
					  <li class="layui-nav-item  {% if request.path == '/message/' %}layui-this {% endif %} "><a href="/message">留言</a></li>
					  <li class="layui-nav-item {% if request.path == '/about/' %}layui-this {% endif %}"><a href="/about">关于</a></li>
					</ul>
					<a href="/login/" class="personal pull-left">
						<i class="layui-icon layui-icon-username"></i>
					</a>
				</div>
				<div class="mobile-nav pull-right" id="mobile-nav">
					<a href="javascript:;">
						<i class="layui-icon layui-icon-more"></i>
					</a>
				</div>
			</div>
			<ul class="pop-nav" id="pop-nav">
				<li><a href="/index">首页</a></li>
				<li><a href="/message">留言</a></li>
				<li><a href="/about">关于</a></li>
			</ul>
		</div>
        {% block content %}
        {% endblock %}

		<div class="footer">
			<p>
				<span>&copy; 2018</span>
				<span><a href="http://www.layui.com" target="_blank">layui.com</a></span>
				<span>MIT license</span>
			</p>
			<p><span>人生就是一场修行</span></p>
		</div>
	<script src="../static/layui/layui.js"></script>
	<script>
		layui.config({
		  base: '../static/static/js/'
		}).use('blog');
	</script>
{% block customjs %}
{% endblock %}
</body>
</html>