{% extends 'base.html' %}
{% block content %}
    <div class="container-wrap">
			<div class="container container-message container-details">
					<div class="contar-wrap">
						<div class="item">
							<div class="item-box  layer-photos-demo1 layer-photos-demo">
								<h3><a href="details.html">{{ articleinfo.title }}</a></h3>
								<h5>发布于：<span>{{ articleinfo.get_format_date }}</span></h5>
								<p>{% autoescape off %}{{ articleinfo.content }}{% endautoescape %}</p>
								<img src="../static/static/images/item.png" alt="">
								<div class="count layui-clear">
									<span class="pull-left">阅读 <em>{{ articleinfo.see_num }}</em></span>
									<span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>{{ articleinfo.zan_sum }}</em></span>
								</div>
							</div>
						</div>
						<a name="comment"> </a>
						<div class="comt layui-clear">
							<a href="javascript:;" class="pull-left">评论</a>
							<a href="/article/{{ articleid }}.html?comment=1" class="pull-right">写评论</a>
						</div>
                        {% if comment  == 1 %}
				        <form class="layui-form" action="" onsubmit="return false">
							<div class="layui-form-item layui-form-text">
								<textarea  class="layui-textarea" name="comment" style="resize:none" placeholder="写点什么啊"></textarea>
							</div>
							<div >
								<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="demo1">立即提交</button>
							</div>
						</form>
                        {% endif %}
						<div id="LAY-msg-box">
                            {% for i in commentlist %}
							<div class="info-item">
								<img class="info-img" src="../static/static/images/info-img.png" alt="">
								<div class="info-text">
									<p class="title count">
										<span class="name">一片空白</span>
										<span class="info-img like"><i class="layui-icon layui-icon-praise"></i>{{ i.zan }}</span>
									</p>
									<p class="info-intr">{{ i.comment }}</p>
								</div>
							</div>
                            {% endfor %}

						</div>
					</div>
			</div>
		</div>
{% endblock %}
{% block customjs %}
    <script>
        layui.use(['form'], function() {
            var form = layui.form
                ,$ = layui.jquery
                , layer = layui.layer;

         //监听提交
          form.on('submit(demo1)', function(data){
              data.field['id'] ={{ articleid }};
              $.ajax({
                  url:"/comment/"
                  ,type:"post"
                  ,data:data.field
                  ,dataType:"json"
                  ,success:function (data) {
                      if(data.code==0){
                          layer.msg("评论成功",{time:2000},function () {
                              window.location.reload();
                          })
                      }else {
                          layer.msg(data.msg)
                      }
                  }
              });
            return false;
          });

        });
    </script>
{% endblock %}