<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .header{height: 100px;background-color: red}
        .booter{position: fixed;bottom: 0;left: 0;right: 0;height: 100px;background-color: red}
        .div1{
            height: 100px;width: 100px;border: 1px solid black;
        }
        .div2{
            height: 50px;width:50px ;border: 1px solid red;
        }
        .div3{height: 50px;width:50px ;border: 1px solid yellow;}
    </style>
</head>
<body>
<div class="header">
    <h1>header</h1>
</div>
<div class="content">
    <div class="div1">
        <div class="div2">

        </div>
        <div class="div3">

        </div>
    </div>
</div>
<div class="booter">
    <h1>booter</h1>
</div>
</body>
</html>